.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}

.failure-image {
  width: 200px;
}

.failure-heading {
  font-family: Roboto;
  font-size: 25px;
  text-align: center;
}

.failure-para {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
}

.button {
  border: none;
  background-color: #4f46e5;
  border-radius: 3px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto;
  font-size: 15px;
}
